VITE_FACTORY_ADDRESS=0x95d75D46A32C865CCdfa04490b0A9619bFBA9067
VITE_FEATURED_CAMPAIGN_ADDRESS=0xF6AB3893d5C397d53ef37E18b135d6a2d8b0c1AE
VITE_SUGGESTED_CAMPAIGN_ADDRESSES=
VITE_V1_FACTORY_ADDRESS=0x502424cce237e11af4b276805b67e777caa4706f
VITE_V1_FEATURED_CAMPAIGN_ADDRESS=0xfd4fc93dc9a9ef389b83a9690c7a524757295d14
VITE_V1_SUGGESTED_CAMPAIGN_ADDRESSES=
VITE_MAINNET_RPC_URL=https://ethereum-rpc.publicnode.com
VITE_CRYPTOPUNKS_MARKET_WORKER_URL=https://fundpunks.nuconomy.workers.dev/market
VITE_V1_PUNKSMARKET_WORKER_URL=https://fundpunks-v1-punksmarket.nuconomy.workers.dev/market
